root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false

[*.sh]
# --language-dialect
shell_variant = bash
simplify = true
binary_next_line = true

# --case-indent
switch_case_indent = true
space_redirects = true
keep_padding = false

# --func-next-line
function_next_line = false
